<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="home-FormSuccsessPage.css" />
  </head>
  <body>
    <main>
      <section id="thanks-section">
        <div class="container">
          <div class="thanks-content flex">
            <div class="mainDiv">
              <h1>Благодарим Ви за отделеното време!</h1>
              <p>Ще се свържем с Вас възможно най-бързо!</p>
              <div class="navbar">
                <a href="Contacts.cshtml">Обратно към начална страница</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
