@{
    ViewData["Title"] = "Начална страница";
}
<head>
    <link rel="stylesheet" href="~/css/home-Index.css" asp-append-version="true" />
</head>
<body>
    <div class="home-page">
        <div class="cards">
            <div class="h-ki">
                <h5>Планиране на смени</h5>
                <ul class="p" style="list-style-type:circle;">
                    <li>Персонализируеми шаблони за смени</li>
                    <li>Размяна на смени между служителите</li>
                    <li>Синхронизация на календара</li>
                </ul>
            </div>

            <div class="h-ki">
                <h5>Управление на служителите</h5>
                <ul class="p" style="list-style-type:circle;">
                    <li>Задачи</li>
                    <li>Създайте контролни списъци</li>
                    <li>Доклади за часове, заплата и отпуск/болнични дни</li>
                </ul>
            </div>
        </div>
        <div class="slideshow">
            <div class="slides">
                <div class="text-slide">
                    <h3>Най-съвременна автоматизация на графици</h3>
                    <p>
                        Онлайн платформата на Shifton е
                        предназначена да оптимизира времето и
                        ресурсите при създаване на работни графици
                        на служителите. Shifton е идеалното решение
                        за компании от всички индустрии и размери.
                    </p>
                </div>
                <div class="image">
                    <img src="./Pictures/page1.png" alt="Slide 1" />
                </div>
            </div>
            @*<div class="slides">
                <div class="text-slide">
                    <h3>Управление на отсъствието</h3>
                    <p>
                        Всички имаме нужда от почивка от време на време.
                        С нашия модул „почивки“ изхвърлете електронните
                        таблици и планирайте работни дни с няколко кликвания.
                    </p>
                </div>
                <div class="image">
                    <img src="./Pictures/page2.png" alt="Slide 1" />
                </div>
            </div>
            <div class="slides">
                <div class="text-slide">
                    <h3>Планиране на смени</h3>
                    <p>
                        Функции с лесен достъп, включително персонализиран график,
                        шаблони за празници и смени, опростена смяна на смени,
                        интегрирано правоприлагане на трудовото законодателство
                        и много други ценни инструменти, за да направите графика
                        на служителите ефективен.
                    </p>
                </div>
                <div class="image">
                    <img src="./Pictures/page3.png" alt="Slide 1" />
                </div>
            </div>*@
        </div>
        <div class="cards">
            <div class="h-ki">
                <h5>Интеграции и неограничен достъп</h5>
                <ul class="p" style="list-style-type:circle;">
                    <li>Интеграции на трети страни</li>
                    <li>24/7 достъп от всяко устройство</li>
                    <li>Система за уведомяване</li>
                </ul>
            </div>
            <div class="h-ki">
                <h5>Оценки и прогнози</h5>
                <ul class="p" style="list-style-type:circle;">
                    <li>Планиране на почивка</li>
                    <li>Сигурно съхранение на документи</li>
                    <li>Спазване на трудовото законодателство</li>
                </ul>
            </div>
        </div>
    </div>
</body>


